Makefile
Makefile.in
Makefile.in.in
m4
doc
autom4te.cache
*.swp
*~
depcomp
aclocal.m4
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure
configure.scan
include/m_config.h
include/m_config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
po/POTFILES
po/stamp-it
.libs
.deps
*.la
*.lo
*.o
tests/*_test
